{% extends 'base.html.twig' %}

{% block title %}Hello EvenementsController!{% endblock %}

{% block body %}

{{parent()}}
<main class="evenements">
    <section class="header">
        <twig:HeaderHero
            title="Evenements"
            para1="Trouvez tous nos événements et demandez à participer."
            cta="Voir tous les evenements"
            ctalink="#evenements"
            img="{{asset('images/static/header-evenement.jpeg')}}"
        />
    </section>
    <section class="typeEvents">
        <h2>
            Types d’événements
        </h2>

        <div class="typeEvents__content">
            <ul class="typeEvents__list">
                <li>Ateliers</li>
                <li>Foire</li>
                <li>Formation</li>
                <li>Evènements</li>
                <li>Sport</li>
                <li>Art & Culture</li>
                <li>Voyage</li>
                <li>Tiers-lieu</li>
            </ul>
            <div class="typeEvents__image">
                <!-- Placeholder for an image -->
                <img src="{{asset('images/img012.jpg')}}" alt="">
            </div>
        </div>

    </section>
    <section class="eventCalender" id="evenements">

        <h2>
            Calendrier des evenements
        </h2>

        <div class="event__containers">
            {% if events|length > 0 %}
                {% for event in events %}
                        
                    <twig:EventCard 
                        event="{{event}}"
                    />
                {% endfor %}
            {% else %}
                <p>Il n'y a pas d'evenements programmés cette semaines</p>
            {% endif %}
            
        </div>
    </section>


</main>
{% endblock %}
