.ea_event_reservation_detail_field{

    .reservation_grid{
        
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        row-gap: 1rem;
        place-items: center;
        padding-block: 1rem;

        .titre{
            font-weight: 700;

        }

    }
}