{% extends 'base.html.twig' %}

{% block metadescription %}
À propos – Découvrez l’histoire, les missions et les valeurs de l’association 100% Famille, acteur engagé pour les familles à Marie-Galante.
{% endblock %}
{% block title %}   À propos de l'association{% endblock %}

{% block body %}
<main class='about'>

    <section class="header">
        <twig:HeaderHero
            title="A propos du tiers-lieux 100% famille"
            para1="Trouvez toutes les informations sur l’association 100% famille"
            img="{{asset('images/static/service-tl.webp')}}"
            alt="Reunion d'information de l'association 100% famille"
        />
    </section>


    <section id="histoire-association" itemscope itemtype="https://schema.org/Organization" aria-labelledby="section-titre">
        <h2 id="section-titre">Histoire de l'Association 100% Famille</h2>
        <p>
            Par un groupe de personnes, l’association <span itemprop="name"><strong>100% Famille</strong></span> 
            a été créée le <time itemprop="foundingDate" datetime="2008-10-13">13 octobre 2008</time>, 
            afin de venir en aide aux familles. Elle a vu le jour grâce à la mobilisation guadeloupéenne 
            autour des questions relatives à la problématique des familles.
        </p>
        <p>
            Initialement, les actions se situaient essentiellement dans le champ de la sensibilisation, de prévention à la santé et de l’accompagnement des personnes en difficulté. 
            Progressivement, avec l’arrivée de nouveaux bénévoles, usagers et adhérents, notre action, certes toujours centrée sur la famille, s’est élargie vers davantage d’animation et de solidarité.
        </p>
        <p>
            <span itemprop="name"><strong>100% Famille</strong></span> considère que dans son domaine d'intervention « la famille », 
            elle doit mener des actions ciblées de qualité. Ce devoir de qualité se traduit dans l'accueil, l’écoute, le travail et les relations avec les bénéficiaires. 
            Cette exigence est également vraie entre tous les membres.
        </p>
        <p>
            L'association est une organisation d'éducation populaire composée d'adhérents, de bénévoles, d'administrateurs et de professionnels. 
            Elle a pour objectif de gérer, défendre les droits, représenter les intérêts généraux et moraux des familles, 
            développer et promouvoir le service rendu à la famille et à la personne, dans divers secteurs : logement, social, loisirs, culturel, consommation, santé.
        </p>
        <p>
            L’association veille à l’épanouissement des familles en leur proposant diverses activités Tout Public, éducatives, 
            Accueil de Loisirs, aide à la personne : démarches administratives, secrétariat, informations, groupes de paroles, jeux de société, sport, sorties détentes, loisirs, 
            échanges intergénérationnels, entretien de maisons et travaux ménagers, travaux de jardinage, travaux de bricolage, courses/livraisons, artisanat.
        </p>
        <p>
            L’association associe étroitement les familles à ses actions. Son siège est implanté dans le quartier des 
            <span itemprop="location" itemscope itemtype="https://schema.org/Place">
                <span itemprop="name">Basses</span>
            </span>, situé à environ 2,5 km de la ville de Grand-Bourg, capitale de l’île de Marie-Galante.
        </p>
        <p>
            Le quartier des Basses comprend :
            <ul>
                <li>2 résidences</li>
                <li>Un terrain de football</li>
                <li>La caserne des pompiers</li>
                <li>L’aéroport</li>
                <li>Une boutique de proximité</li>
                <li>Une assistante maternelle</li>
                <li>Deux hôtels</li>
                <li>Des gîtes de location</li>
                <li>La radio Basses Internationale</li>
                <li>Deux mares, un moulin, deux plages</li>
                <li>Des restaurants, un garage</li>
            </ul>
        </p>
        <p>
            Après plusieurs années d'évolution constante, l'association est aujourd'hui un acteur de la vie locale à Marie-Galante. 
            En effet, son action s'inscrit dans une logique de développement local au nom de l'intérêt général.
        </p>

    </section>


    <section id="nos-missions" itemscope itemtype="https://schema.org/Organization" aria-labelledby="missions-titre">
        <h2 id="missions-titre">Nos Missions</h2>
        <p>
            Les moyens d’actions représentent toutes les initiatives pouvant aider à la réalisation de l’objet de 
            l’association <span itemprop="name"><strong>100% Famille</strong></span>, telles que :
        </p>
        <ul>
            <li itemprop="action">
                Accueillir les familles et les personnes.
            </li>
            <li itemprop="action">
                Susciter les actions propres à assurer l’équilibre, la stabilité et le développement des familles et des personnes, 
                par l’adoption d’une politique familiale effective.
            </li>
            <li itemprop="action">
                Mettre en place des actions sur l’éducation (parentale, à la santé, environnementale ou autres).
            </li>
            <li itemprop="action">
                Assurer la représentation des familles et des personnes auprès des pouvoirs publics, des bailleurs et des collectivités locales.
            </li>
            <li itemprop="action">
                Faire respecter les droits des familles et des personnes en tant que consommateurs, usagers et, de manière générale, défendre 
                l’ensemble des intérêts moraux et matériels de toutes les familles, par les moyens appropriés.
            </li>
            <li itemprop="action">
                Créer entre toutes les familles adhérentes et entre les personnes, un esprit de solidarité totale, et à cet effet, poursuivre 
                la réalisation, l’organisation et assurer la gestion de tous les services d’intérêt familial.
            </li>
            <li itemprop="action">
                Participer à la gestion et aux activités animées par d’autres organismes, dans un intérêt général et familial.
            </li>
            <li itemprop="action">
                Organiser tous types d’actions pouvant honorer ses membres.
            </li>
            <li itemprop="action">
                Proposer aux familles des projets, activités, et animations.
            </li>
        </ul>
    </section>


    <section id="nos-valeurs" itemscope itemtype="https://schema.org/Organization" aria-labelledby="valeurs-titre">
        <h2 id="valeurs-titre">Nos Valeurs</h2>
        <p>
            <span itemprop="name"><strong>100% Famille</strong></span> est une association qui porte les valeurs de 
            l'éducation populaire, les fait vivre et les partage au quotidien.
        </p>
        <p>
            Notre projet associatif s’articule autour de ces valeurs, qui représentent le <strong>code génétique</strong> 
            de l’association :
        </p>
        <ul>
            <li><strong>Famille, éducation</strong></li>
            <li><strong>Prévention, santé, sport</strong></li>
            <li><strong>Partage, transmission, culture</strong></li>
            <li><strong>Convivialité, solidarité, loisirs</strong></li>
            <li><strong>Environnement, récupération, réutilisation, recyclage</strong></li>
        </ul>
    </section>
</main>
{% endblock %}
