<h1>Merci de votre adhesion a l'Association 100% Famille</h1>

<p>
    Vous Pouvez dés maintenant confirmer votre adresse email pour finaliser votre inscription. <br><br>
    <a href="{{ signedUrl|raw }}">Finaliser mon inscription</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
