{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}

{% block body %}
    {{ parent() }}
    <main class="login">
    <h1>Réinitialiser le mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn--success">Réinitialiser</button>
        {{ form_end(resetForm) }}
    </main>
{% endblock %}
