@use '../../abstract' as *;


.events{

    &__card{
        @extend %flex-row-start-stretch;
        gap:1rem;
        
        &__details{
            @extend %flex-column-around-start;
            // gap:1rem;
            
            .events__info{
                @extend %flex-column-around-start;
                gap:0.5rem
            }
            
            p{
                color: $font-color1;
                font-size: $text-24-16-desk;
            }
        }
        &__image{
            height: 100%;
        }
    }
}