{% extends '@EasyAdmin/page/content.html.twig' %}
{# {% extends '@EasyAdmin/layout.html.twig' %} #}

{% block content_title %}Association 100% famille{% endblock %}
{% block head_stylesheets %}
    {{parent()}}
    <style>

    </style>
{% endblock %}
{% block page_actions %}
            
{% endblock %}

{% block main %}
        {# <p>hello</p> #}
        {# <a clasc'y">Promotions</a> #}
        {# <p>hello</p> #}
{#! Les 3 prochains evenements + cta  #}
{#! cta add Evenement , voir evenement, Ajouter un user #}


{% endblock %}