{% extends '@EasyAdmin/page/content.html.twig' %}
{# {% extends '@EasyAdmin/layout.html.twig' %} #}

{% block content_title %}Association 100% famille{% endblock %}
{% block head_stylesheets %}
    {{parent()}}
    <style>

    </style>
{% endblock %}
{% block page_actions %}
            
{% endblock %}

{% block main %}
        <p>hello</p>
        <a class="btn btn-primary" 
            >Activité</a>
        <a class="btn btn-primary">Excursions</a>
        <a class="btn btn-primary">Promotions</a>
        <p>hello</p>

{% endblock %}