@use '../abstract' as *;
:root{

    font-size: 16px;
}

body{
    // font-family: 'inter',serif;
    // font-family: 'inter',sans-serif;
    // font-family: 'Lato',serif;
    font-family: 'Nunito',serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: $bg-clair1;

    // padding-inline: 32px;
}

h1,h2,h3{

    color: $font-color1;
    font-weight: 600;
    text-wrap: pretty;

}
h1{
    font-size: $title-48-32-desk;

    @media screen and (max-width:768px)  {
        &{
            font-size: $title-32-20-mob;
        }
    }
}
h2{
    font-size: $title-32-24-desk;
    
    @media screen and (max-width:768px)  {
        &{
            font-size: $title-24-20-mob;
        }
    }
}
h3{
    font-size: $title-24-20-desk;
    
    @media screen and (max-width:768px)  {
        &{
            font-size: $title-20-18-mob;
        }
    }

}

li{
    list-style: none;
    color: $font-color1;
}