@use '../abstract' as *;

nav{
    @extend %flex-row-between-center;
    @extend %container;
    min-height: 120px;
    font-size: $text-24-16-desk;

    



    .logo{}



    .navLink{

        color: $font-color1;
        
        &__container{
            @extend %flex-row-evenly-center;
            gap: 2.5rem;
            

            
            &.hide{
                display: none;
            }
        }
        
        

        
        
        &.active{


            text-decoration: underline;
        }
    }


    .navBurger {

        
        &.hide{
            display: none;
        }
    }
}

