
//?===== Color

$accent1 : #3A7443;
$accent2 : #C90037;
$bg-clair1: rgba(58, 116, 67, 0.08);
$bg-clair1-active: rgba(58, 116, 67, 0.1);

$bg-clair2: #F0F4F0;
$bg-clair2-active: #E2EAE2;

$font-color1: #784457;
$font-color2: #0b0f0b;


//?===== typo desk
//titre

$title-48-32-desk :clamp(2rem, 0.8539rem + 2.3845vw, 3rem);
$title-32-24-desk :clamp(1.5rem, 0.927rem + 1.1923vw, 2rem);
$title-24-20-desk :clamp(1.25rem, 0.9643rem + 0.5952vw, 1.5rem);


//text
$text-48-32-desk :clamp(2rem, 0.8539rem + 2.3845vw, 3rem);
$text-40-24-desk :clamp(2rem, 1.4302rem + 1.1887vw, 2.5rem);
$text-24-16-desk :clamp(1rem, 0.427rem + 1.1923vw, 1.5rem);

//?===== typo mob

$title-32-20-mob : clamp(1.25rem, 0.7143rem + 2.6786vw, 2rem);
$title-24-20-mob : clamp(1.25rem, 1.0714rem + 0.8929vw, 1.5rem);
$title-20-18-mob : clamp(1.125rem, 1.0357rem + 0.4464vw, 1.25rem);


$text-24-16-mob : clamp(1rem, 0.8214rem + 0.8929vw, 1.25rem);




//! ======= admin variable


//   $dark-mode__bg-dark: hsl(245 100% 7%);
//   $dark-mode__bg: hsl(233 100% 9%);
//   $dark-mode__bg-light: hsl(221 100% 12%);
//   $dark-mode__text: hsl(215 100% 100%);
//   $dark-mode__text-muted: hsl(215 78% 74%);
//   $dark-mode__highlight: hsl(210 100% 36%);
//   $dark-mode__border: hsl(214 100% 28%);
//   $dark-mode__border-muted: hsl(224 100% 23%);
//   $dark-mode__primary: hsl(215 100% 75%);
//   $dark-mode__secondary: hsl(43 100% 33%);
//   $dark-mode__danger: hsl(7 100% 66%);
//   $dark-mode__warning: hsl(53 100% 21%);
//   $dark-mode__success: hsl(162 100% 22%);
//   $dark-mode__info: hsl(217 100% 70%);

  $dark-mode__bg-dark: hsl(185 85% 1%);
  $dark-mode__bg: hsl(180, 50%, 4%);
  $dark-mode__bg-light: hsl(183 28% 8%);
  $dark-mode__text: hsl(183 74% 92%);
  $dark-mode__text-muted: #9db8b9;
  $dark-mode__highlight: hsl(183 14% 36%);
  $dark-mode__border: hsl(183 20% 26%);
  $dark-mode__border-muted: hsl(183 32% 15%);
  $dark-mode__primary: hsl(183 52% 57%);
  $dark-mode__secondary: hsl(0 66% 75%);
  $dark-mode__danger: hsl(9 26% 64%);
  $dark-mode__warning: hsl(52 19% 57%);
  $dark-mode__success: hsl(146 17% 59%);
  $dark-mode__info: hsl(217 28% 65%);



//   $light-mode__bg-dark: hsl(207 11% 90%);
//   $light-mode__bg: hsl(207 23% 95%);
//   $light-mode__bg-light: hsl(207 100% 100%);
//   $light-mode__text: hsl(207 33% 4%);
//   $light-mode__text-muted: hsl(207 7% 28%);
//   $light-mode__highlight: hsl(207 100% 100%);
//   $light-mode__border: hsl(207 4% 50%);
//   $light-mode__border-muted: hsl(207 6% 62%);
//   $light-mode__primary: hsl(214 100% 28%);
//   $light-mode__secondary: hsl(31 100% 15%);
//   $light-mode__danger: hsl(4 99% 37%);
//   $light-mode__warning: hsl(50 100% 12%);
//   $light-mode__success: hsl(159 100% 9%);
//   $light-mode__info: hsl(215 95% 42%);

//   $light-mode__bg-dark: hsl(207 11% 90%);
//   $light-mode__bg: hsl(207 23% 95%);
//   $light-mode__bg-light: hsl(207 100% 100%);
//   $light-mode__text: hsl(207 33% 4%);
//   $light-mode__text-muted: hsl(207 7% 28%);
//   $light-mode__highlight: hsl(207 100% 100%);
//   $light-mode__border: hsl(207 4% 50%);
//   $light-mode__border-muted: hsl(207 6% 62%);
//   $light-mode__primary: hsl(200 100% 22%);
//   $light-mode__secondary: hsl(34 100% 19%);
//   $light-mode__danger: hsl(9 21% 41%);
//   $light-mode__warning: hsl(52 23% 34%);
//   $light-mode__success: hsl(147 19% 36%);
//   $light-mode__info: hsl(217 22% 41%);

$light-mode__bg-dark: hsl(182 24% 88%);
$light-mode__bg: hsl(182 44% 93%);
$light-mode__bg-light: hsl(182 100% 99%);
$light-mode__text: hsl(185 100% 3%);
$light-mode__text-muted: hsl(183 20% 26%);
$light-mode__highlight: hsl(183 100% 97%);
$light-mode__border: hsl(183 11% 48%);
$light-mode__border-muted: hsl(183 14% 59%);
$light-mode__primary: hsl(183 100% 9%);
$light-mode__secondary: hsl(357 44% 32%);
$light-mode__danger: hsl(9 21% 41%);
$light-mode__warning: hsl(52 23% 34%);
$light-mode__success: hsl(147 19% 36%);
$light-mode__info: hsl(217 22% 41%);

$shadow: 0px 2px 2px #00000030, 0px 4px 4px #00000015;

$themes: (
    dark: (
        bg-dark: $dark-mode__bg-dark,
        bg: $dark-mode__bg,
        bg-light: $dark-mode__bg-light,
        text: $dark-mode__text,
        text-muted: $dark-mode__text-muted,
        hoverlight: $dark-mode__highlight,
        border: $dark-mode__border,
        border-muted: $dark-mode__border-muted,
        primary: $dark-mode__primary,
        secondary: $dark-mode__secondary,
        danger: $dark-mode__danger,
        warning: $dark-mode__warning,
        success: $dark-mode__success,
        info: $dark-mode__info
    ),
    light: (
        bg-dark: $light-mode__bg-dark,
        bg: $light-mode__bg,
        bg-light: $light-mode__bg-light,
        text: $light-mode__text,
        text-muted: $light-mode__text-muted,
        hoverlight: $light-mode__highlight,
        border: $light-mode__border,
        border-muted: $light-mode__border-muted,
        primary: $light-mode__primary,
        secondary: $light-mode__secondary,
        danger: $light-mode__danger,
        warning: $light-mode__warning,
        success: $light-mode__success,
        info: $light-mode__info
    )
);
