@use '../abstract' as *;

.about{
    section:not(.header){
        @extend %container;
        @extend %flex-column-center-start;
        gap: 2rem;
        padding-block: 3rem;
        
        p, li{
            color: $font-color1;
            font-size: $text-24-16-desk;
        }

        ul{
            padding-inline-start: 1.2rem ;
            @extend %flex-column-start-start;
            gap: 0.5rem;

            li{
                list-style: disc;
            }
        }
        
    }
    
    .header{
        background-color: $bg-clair1;
        // height: 50vh;
    }


    

}