@use '../abstract' as *;

.evenements{
    

    
    .header{
        
        background-color: $bg-clair1;
        // height: 50vh;
    }

    section:not(.header){
        padding-block: 4rem;
        @extend %container;

        h2{
            margin-block-end: 2rem
        }
    }


    .typeEvents{

        &__content{

            @extend %flex-row-center;
            gap:4rem
        }

        &__list{

            li{
                font-size: $text-40-24-desk;
                margin-block: 1rem;

                @media screen and (max-width:768px) {
                    font-size: $text-24-16-mob;
                }
            }
        }

        &__image{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-fit:center;
            }
            @media screen and (max-width:768px) {
                display: none;
            }
        }
    }

    section.eventCalender{

        .event{

            
            &__containers{
                @extend %flex-column-center-start;
                gap: 2rem;

            }
        }
    }





}