@use '../abstract' as *;

.home{
    
    
    .header{
        
        background-color: $bg-clair1;
        // min-height: 50vh;
        

    }


    .events{

        @extend %container;

        &__header{
            @extend %flex-row-between-center;

            margin-block:3rem;


        }
        &__all{
            color: $font-color1;
            justify-self: flex-end;
            text-align: end
        }

        &__container{
            @extend %flex-column-center-start;
            gap: 2rem;
        }




    }

    .service{


            @extend %container;
    
            margin-block:3rem;
            
            h2{
                margin-block:3rem;

            }


            &__container{
                @extend %flex-row-around-center;
                gap: 1rem;
                flex-wrap: wrap;

            }
    }
}