@use '../abstract' as *;

.register{


    .header{
        
        background-color: $bg-clair1;
        // height: 50vh;
    }

    section:not(.header){
        padding-block: 4rem 1rem;
        @extend %container;

        h2{
            margin-block: 1rem
        }
    }

    section.form__container{
        

        padding-block: 2rem;

        form{
            
            .form__line{
                @extend %flex-row-between-center;
                padding-block:2rem;

                label,p{
                    font-size: 1.1rem;
                    font-weight: 600
                }
            .form__value{

                width: 70%;
                @extend %flex-row-around-center;

            }
                .counter{
                    @extend %flex-row-center;
                    gap: 0.3rem;

                    input,button{
                        padding: 0.5rem 0.5rem;
                        font-size: 1.1rem;
                        
                        border: 1px solid black;
                        border-radius: 4px
                    }

                    input {
                        width: 4rem;
                        text-align: center;
                    }

                    button{
                        background-color: white;
                        width: 50px;
                    }

                }

                @media screen and (max-width:768px) {
                    &{
                        flex-direction: column;
                        align-items: start;
                        gap: 2rem;

                        .form__value{
                            width: 100%;
                            gap: 1rem;
                            flex-wrap: wrap;
                        }
                    }
                }
                @media screen and (max-width:450px) {
                    &{
                        
                        .form__value{
                            flex-direction: column;
                            
                        }
                    }
                }

            }

            .donnation_line{
                @extend %flex-column-center-stretch;
                gap:2rem;
                padding-block :2rem;
                
                .donnation_label{
                    font-size: 1.5rem;
                    font-weight: 600;
                    color:$font-color1
                }


                .form__radio{
                    
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    gap: 2rem;
                    place-items: center;

                    .radio__container{
                        @extend %flex-column-center-center;
                        gap:1rem;
                        label{
                            font-size: 1rem;
                        }
                    }

                    @media screen and (max-width:768px) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }

            .totaux_container{
                background-color: $bg-clair1;
                padding:1rem;

                @extend %flex-row-end-center;
                gap: 1rem
            }
            
            .boutons_container{

                @extend %flex-row-end-center;
                gap:1rem;
            }
        }


        &.adherant{

            form{


                .form__line{

                    @extend %flex-row-between-center;
                    flex-wrap: wrap;

                    gap: 2rem;

                    &>div{
                        @extend %flex-column-center-start;
                        width: max(40%, 300px) ;
                        gap: 1rem;

                        label{
                            font-weight: 400;
                        }

                        .text-type{
                            width: max(100%, calc(320px - 4rem)) ;
                            font-size: 1.5rem;
                            padding-inline: 1rem;
                            padding-block: 0.5rem;
                        }
                        .select-type{
                            width: max(100%, calc(320px - 4rem)) ;
                            padding-inline: 1rem;
                            padding-block: 0.5rem;
                            border-radius: 4px;
                            font-size: 1rem;
                        
                        }
                    }
                }
            }
        }
    }
}