<div {{ attributes }} class="service__card">
    <!-- component html -->
    <div class="service__img">
        <img src="{{asset('/images/img012.jpg')}}" alt="">
    </div>
    <div class="service__details">
        <h3>{{ titre }}</h3>
        <ul>
            {% for item in items %}
                
                <li>{{ item }}</li>
                
            {% endfor %}

        </ul>
    </div>
</div>
