{% extends 'base.html.twig' %}

{% block title %}Edit Adherent{% endblock %}

{% block body %}
    <h1>Edit Adherent</h1>

    {{ include('admin/adherent/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_admin_adherent_index') }}">back to list</a>

    {{ include('admin/adherent/_delete_form.html.twig') }}
{% endblock %}
